// Fonts
@font-face {
    font-family: 'Tilda Sans';
    src: url('../fonts/TildaSans-Bold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Tilda Sans';
    src: url('../fonts/TildaSans-Black.ttf');
    font-weight: 900;
}

$font-tilda-sans: 'Tilda Sans', sans-serif;
// Fonts end

// Colors
// Colors end

@mixin media($value) {
    @if ($value < 0) {
        @media screen and (min-width: calc($value * (-1)) + 'px') {
            @content;
        }

    } @else {
        @media screen and (max-width: $value + 'px') {
            @content;
        }
    }
}